.App{
  padding-bottom: 5rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10rem;
}

.App-header {
  padding: 20px;
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: lightgray;
  text-align: center;
}

.sidebar-close-toggle{
  text-align: right;
}

.App-title {
  font-family: pacifico;
  font-size: 4rem;
  font-weight: lighter;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
